
/*/.vs/*/
IlviraAPI/obj/*/
IlviraAPI/bin/*/
IlviraAPI/obj/project.nuget.cache
IlviraAPI/obj/IlviraAPI.csproj.nuget.dgspec.json
IlviraAPI/obj/IlviraAPI.csproj.nuget.g.props
IlviraAPI/obj/project.assets.json
